In [1]:
import numpy as np 
import pandas as pd
from sklearn.model_selection import cross_val_score

In [2]:
df = pd.read_csv("adultTest.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
class             object
dtype: object

In [4]:
dfNew = pd.get_dummies(data=df, columns=['workclass','education','marital-status','occupation',
                                         'relationship','race','sex','native-country'])
dfNew.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,class,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,39,77516,13,2174,0,40,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,83311,13,0,0,13,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,38,215646,9,0,0,40,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,53,234721,7,0,0,40,<=50K,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,28,338409,13,0,0,40,<=50K,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
# 将标签列数值化
dfNew['class'] = df['class'].map(lambda s :s.strip())
dfNew.loc[dfNew['class']=='<=50K','target_1'] = 0
dfNew.loc[dfNew['class']!='<=50K','target_1'] = 1

dfNew.loc[dfNew['class']=='<=50K','target_2'] = -1
dfNew.loc[dfNew['class']!='<=50K','target_2'] = 1

In [6]:
dfNew['target_1'].value_counts()

0.0    24720
1.0     7841
Name: target_1, dtype: int64

In [7]:
dfNew['target_2'].value_counts()

-1.0    24720
 1.0     7841
Name: target_2, dtype: int64

In [8]:
dfNew['class'].value_counts()

<=50K    24720
>50K      7841
Name: class, dtype: int64

In [9]:
# 删除原来的class列
dfNew.drop("class", axis=1, inplace=True)
# 构建训练数据集
X = dfNew.drop(["target_1", "target_2"], axis=1)
y1 = dfNew['target_1']
y2 = dfNew['target_2']

In [10]:
from sklearn.ensemble import GradientBoostingClassifier

gbc1 = GradientBoostingClassifier(learning_rate=0.01, n_estimators=50, max_depth=2, random_state=100)
gbc1.fit(X, y1)
gbc1.score(X, y1)

0.7680660913362611

In [11]:
gbc2 = GradientBoostingClassifier(learning_rate=0.01, n_estimators=50, max_depth=2, random_state=100)
gbc2.fit(X, y2)
gbc2.score(X, y2)

0.7680660913362611

In [14]:
from sklearn.linear_model  import LogisticRegression

lr1 = LogisticRegression()
lr1.fit(X, y1)
lr1.score(X, y1)

0.7957679432449863

In [15]:
lr2 = LogisticRegression()
lr2.fit(X, y2)
lr2.score(X, y2)

0.7957679432449863